@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.center{
    position: absolute;
    top: 105%;
    left: 40%;
    transform: translate(-50%, -50%);
}
.center .stars{
    height: 150px;
    width: 250px;
    text-align: center;
}
.stars input{
    display: none;
}
.stars label{
    float: right;
    font-size: 40px;
    color: lightgrey;
    margin: 0 5px;
    text-shadow: 1px 1px #bbb;
}
.stars label:before{
    content: '★';
}
.stars input:checked ~ label{
    color: gold;
    text-shadow: 1px 1px #c60;
}
.stars:not(:checked) > label:hover,
.stars:not(:checked) > label:hover ~ label{
    color: gold;
}
.stars input:checked > label:hover,
.stars input:checked > label:hover ~ label{
    color: gold;
    text-shadow: 1px 1px goldenrod;
}
